{% extends 'header.html' %}

{% block title %} Admission System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<form action="/hostel_edit_application/" enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <div class="container mt-3">
   {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Application updated successfully.")
    window.location = "/hostel_form"
    {% endif %}
</script>
{% endblock %}

